// Colors
$body-color: #141414;
$text-color:  #b4b4b4;
$footer-color: #145860;

// Font-stack
$font-stack: "Open Sans", sans-serif;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// X-large
$screen-xxl-min: 1400px;
